<h4>show.hbs</h4>

<p>Namn: {{model.name}}</p>
<p>Titel: {{model.title}}</p>
<p>År: {{model.year}}</p>
<p>Författare: {{model.author}}</p>


{{#link-to 'package.index'}}Till internets början{{/link-to}}