<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h1>Om dLiver</h1>
    <p>dLiver är tänkt att skapa en ökad tillgänglighet till våra samlingar utanför bibliotekets väggar. Som användare ska du kunna ta del av material som är svårt att beställa fram eller som du behöver använda under en längre tid och på andra platser än biblioteket. För att dLiver ska vara till nytta är det viktigt för oss att få veta vad du tycker om dLiver och därför får du gärna <a href="http://www.ub.gu.se/samlingar/digital/kontakta/">kontakta oss med förbättringsförslag</a>.</p>
  </div>
</div>
