<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h1>Om dLiver</h1>
    <h3>Vad är dLiver?</h3>
    <p>dLiver är namnet på den samlade ingången till alla digitaliserade dokument som finns på Göteborgs universitetsbibliotek. Allt som har digitaliserats på biblioteket, från 1990-talets slut fram till idag, finns tillgängligt och sökbart via dLiver. Det är material från våra handskriftsarkiv, böcker och tidskrifter ur samlingarna samt kartor och bilder.</p>
    <h3>Varför finns dLiver?</h3>
    <p>dLiver är tänkt att skapa en ökad tillgänglighet till våra samlingar utanför bibliotekets väggar. Som användare ska du kunna ta del av material som är svårt att beställa fram eller som du behöver använda under en längre tid och på andra platser än biblioteket. För att dLiver ska vara till nytta är det viktigt för oss att få veta vad du tycker om dLiver och därför får du gärna <a href="http://www.ub.gu.se/samlingar/digital/kontakta/">kontakta oss med förbättringsförslag</a>.</p>
    <h3>Varför kan jag inte ladda hem allt som finns i dLiver?</h3>
    <p>En del av materialet i dLiver är skyddat av upphovsrätt eller andra avtal och det kan vi tyvärr inte göra allmänt tillgängligt. Det kan till exempel vara material som har digitaliserats i särskilda forskningsprojekt. Det materialet går att söka fram i dLiver men inte att läsa. För forskare kan vi göra individuella undantag och om du är intresserad av ett visst material ska du <a href="http://www.ub.gu.se/samlingar/digital/kontakta/">kontakta oss</a>.</p>
  </div>
</div>
